/* DARK_BLUE = #001524
MID_BLUE = #15616d
TAN = #ffecd1
ORANGE = #ff7d00
BROWN = #78290f */

body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #a3b18a;
    color: #081c15;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #3a5a40;
    font-size: 5rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #344e41;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3a5a40;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

a {
    color: #471605;
    font-family: 'Merriweather', serif;

}

a:hover {
    color: #ff7d00;
}


.top-container {

    position: relative;
    padding-top: 100px;
}

.top-leaf {
    position: absolute;
    right: 350px;
    top: 50px;
    width: 4rem;
}

.forest {
    width: 30rem;
}

.bottom-leaf {
    position: absolute;
    left: 250px;
    top: 200px;
    width: 4rem;
    transform: rotate(50deg);

}

.cabin {
    width: 20rem;
    padding-bottom: 2rem;
}

.left-leaf {
    position: fixed;
    left: 90px;
    top: 600px;
    width: 4rem;
    transform: rotate(-100deg);

}

.right-top-leaf {
    position: fixed;
    right: 80px;
    top: 400px;
    width: 4rem;
    transform: rotate(-50deg);

}

.right-bottom-leaf {
    position: fixed;
    right: 120px;
    bottom: 200px;
    width: 4rem;
    transform: rotate(-50deg);

}

hr {
    background-color: #a3b18a;
    border-style: none;
    border-top: dashed 5px #081c15;
    height: 2px;
    width: 21%;
}


.intro {
    display: block;
    width: 60%;
    margin: 10px auto 50px auto;
}

.skill-row {
    display: block;
    width: 60%;
    margin: 0 auto 3rem auto;
    text-align: left;
    line-height: 2;
}

.python {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.web {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.portrait {
    padding-top: 40px;
    border-radius: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.credit {
    font-size: .75em;
}

.btn {
    background: #3a5a40;
    background-image: -webkit-linear-gradient(top, #3a5a40, #20732e);
    background-image: -moz-linear-gradient(top, #3a5a40, #20732e);
    background-image: -ms-linear-gradient(top, #3a5a40, #20732e);
    background-image: -o-linear-gradient(top, #3a5a40, #20732e);
    background-image: linear-gradient(to bottom, #3a5a40, #20732e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #4d734c;
    color: white;
    background-image: -webkit-linear-gradient(top, #4d734c, #598558);
    background-image: -moz-linear-gradient(top, #4d734c, #598558);
    background-image: -ms-linear-gradient(top, #4d734c, #598558);
    background-image: -o-linear-gradient(top, #4d734c, #598558);
    background-image: linear-gradient(to bottom, #4d734c, #598558);
    text-decoration: none;
}

.bottom-container {
    background-color: #588157;
    margin: 30px;
    display: block;
    width: 50%;
    margin: 1.5rem auto 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.top-box {
    background-color: #588157;
    margin: 30px;
    display: block;
    width: 50%;
    margin: 0 auto 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 3%;
}